.main-page {
    position: absolute;
    left: 0px;
    top: 0px;
}

.close-btn {
    position: absolute;
    left: 1940px;
    top: 10px;
    z-index: 3;
}

.gray-backdround {
    position: absolute;
}

.cup-block {
    position: absolute;
    display: flex;
    width: 2000px;
    height: 1050px;
    justify-content: center;
    align-items: flex-end;
}

.confetti {
    position: absolute;
}

.team-left {
    position: absolute;
    z-index: 2;
}

.team-right {
    position: absolute;
    left: 346px;
    z-index: 2;
}

.text-in-midle {
    position: absolute;
    top: 230px;
    left: 710px;
    z-index: 2;
}

.text-one {
    font-size: 308px;
}

.text-game {
    font-size: 215px;
    line-height: 30px;
}

.text-glory {
    font-size: 123px;
    line-height: 235px;
}

.logo-left {
    position: absolute;
    top: 310px;
    left: 188px;
    z-index: 2;
}

.logo-right {
    position: absolute;
    top: 302px;
    left: 1417px;
    z-index: 2;
}

.msl-banner {
    position: absolute;
}