@font-face {
    font-family: DINNextLTPro-Heavy;
    src: url('DINNextLTPro-Heavy.otf');
}

.container {
    font-family: DINNextLTPro-Heavy;
    font-weight: bold;
    color: #ffffff;
    font-size: 28px;

    max-width: 2000px;
}

.invisible  {
    display: none;
}