.btn-watch {
    position: absolute;
    top: 120px;
    left: 1545px;
    z-index: 2;
}

.text-watch {
    position: absolute;
    top: 241px;
    left: 1490px;
    width: 240px;
}

.video-block {
    position: absolute;
    top: 173px;
    left: 416px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 670px;
    width: 1190px;
}

.video {
    transform: scale(1.85);
}

.btn-play {
    position: absolute;
    z-index: 3;
}

.invisible  {
    display: none;
}